<!DOCTYPE html>
<html>
<head>
</head>
<body>
<style>
  * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  --float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.required{
	color:red;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
<h2>Register for an account</h2>
<p>Are you a restaurant business owner? Sign up to create an online menu to your restaurant to allow your customer to palce online orders for food.</p>
<center><div class="container">
    <%
    let nameErrors = '';
    let addressErrors = '';
    let mobileErrors = '';
    let emailErrors = '';
    let passwordErrors = '';

    if(typeof errors !== 'undefined' && errors.length > 0) {
      for(const error of errors){
        if(error.param === 'name'){
          nameErrors += error.msg + "<br/>";
        }
        if(error.param === 'address'){
          addressErrors += error.msg + "<br/>";
        }
        if(error.param === 'mobile'){
          mobileErrors += error.msg + "<br/>"
        }
        if(error.param === 'email'){
          emailErrors += error.msg + "<br/>"
        }
        if(error.param === 'password'){
          passwordErrors += error.msg + "<br/>"
        }
      }
    }
    %>

    <form action="/register" method="POST">
  <div class="row">
    <div class="col-25">
      <label for="rname">Restaurant Name<span class="required">*</span></label>
    </div>
    <div class="col-75">
      <p class="help-block">Please provide your Restaurant Name</p>
      <input type="text" id="name" name="name" placeholder="Restaurant name..">
      <% if(nameErrors != '') { %> <p><strong><%- nameErrors %></strong></p>  <% } %>
    </div>
  </div>
    <div class="row">
    <div class="col-25">
      <label for="address">Address<span class="required">*</span></label>
    </div>
    <div class="col-75">
      <p class="help-block">Please provide your Address</p>
      <textarea id="address" name="address" placeholder="" style="height:200px"></textarea>
      <% if(addressErrors != '') { %> <p><strong><%- addressErrors %></strong></p>  <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Telephone Number<span class="required">*</span></label>
    </div>
    <div class="col-75">
      <p class="help-block">Please provide your Canadian Telephone Number</p>
      <input type="text" id="mobile" name="mobile" placeholder="Telephone Number..">
      <% if(mobileErrors != '') { %> <p><strong><%- mobileErrors %></strong></p>  <% } %>
    </div>
  </div>
    <div class="row">
    <div class="col-25">
      <label for="email">Email Address<span class="required">*</span></label>
    </div>
    <div class="col-75">
      <p class="help-block">Please provide your E-mail</p>
      <input type="text" id="email" name="email" placeholder="Enter Email">
      <% if(emailErrors != '') { %> <p><strong><%- emailErrors %></strong></p>  <% } %>
    </div>
  </div>
    <div class="row">
    <div class="col-25">
      <label for="pass">Password<span class="required">*</span></label>
    </div>
    <div class="col-75">
      <input type="password" id="password" name="password"  placeholder="Password">
      <p class="help-block">Password should be at least 8 characters</p>
      <% if(passwordErrors != '') { %> <p><strong><%-passwordErrors %></strong></p>  <% } %>
    </div>
  </div>
      <div class="row">
        <div class="col-25">
          <label for="pass">Confirm Password<span class="required">*</span></label>
        </div>
        <div class="col-75">
          <p class="help-block">Please confirm password</p>
          <input type="password" id="password_confirm" name="password_confirm"  placeholder="">
        </div>
      </div>
    <div class="row">
    <div class="col-25">
      <label for="description">Description</label>
    </div>
    <div class="col-75">
      <textarea id="description" name="description" placeholder="Description" style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="cuisine">Cuisine</label>
    </div>
    <div class="col-75">
      <select id="cuisine" name="cuisine">
        <option value="chinese">Chinese</option>
        <option value="italian">Italian</option>
        <option value="indian">Indian</option>
      </select>
    </div>
  </div>

  <div class="row">
    <center><input type="submit" value="Submit"></center>
  </div>
  </form>
</div></center>

</body>
</html>
